runs/**
!runs/.gitkeep

cct_images/*
!cct_images/.gitkeep

dataset/images/train/*
!dataset/images/train/.gitkeep

dataset/images/val/*
!dataset/images/val/.gitkeep

dataset/labels/train/*
!dataset/labels/train/.gitkeep

dataset/labels/val/*
!dataset/labels/val/.gitkeep

__pycache__/*
!__pycache__/.gitkeep